{% extends 'base.html' %}
{% load static %}
{% block title %}Role List{% endblock %}
{% block content %}
<div class="scrollable-container">
    <div class="about_current_page">
        <h1 class="role_list_header">Роли</h1>
    </div>
    <div class="role_list_block">
        {% for role in roles %}
        <div class="role_card">
            <a href="{% url 'role_detail' role.pk %}">{{ role.name }}</a>
        </div>
        {% empty %}
        <div class="user_card">
            <div class="no_profiles">
                <h5 class="no_profiles_text">Нет ролей</h5>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<p><a href="{% url 'role_create' %}">Создать роль</a></p>
{% endblock %}