{% extends 'base.html' %}
{% load static %}
{% block title %}Role Delete{% endblock %}
{% block content %}
<div class="scrollable-container">
    <div class="about_current_page">
        <h1 class="role_header">Удаление роли {{ role.name }}</h1>
    </div>
    <div class="privilege_list_block">
        {% for privilege in role.privileges %}
        <div class="role_privilege_card">
            {% for privilege_choice in privileges_list %}
            {% if privilege == privilege_choice.0 %}
            {{ privilege_choice.1 }}
            {% endif %}
            {% endfor %}
        </div>
        {% empty %}
        <div class="user_card">
            <div class="no_profiles">
                <h5 class="no_profiles_text">Нет привилегий</h5>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="delete_form_block">
    <div class="form_yes">
        <form action="{% url 'role_delete' role.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Yes">
        </form>
    </div>
    <div class="form_no">
        <a href="{% url 'role_detail' role.pk %}">Нет</a>
    </div>
</div>
<p><a href="{% url 'role_list' %}">Вернуться на страницу ролей</a></p>
{% endblock %}