{% extends 'base.html' %}
{% block title %}Create news{% endblock %}
{% block content %}
    <div class="about_current_page">
        <h1 class="newsline_header">ДОБАВЬТЕ ВАРИАНТЫ</h1>
    </div>
    <form method="post" class="vote_create_form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="add_vote_option_button"> Добавить вариант ответа</button>
    </form>
    <div class="finish_adding_vote_option">
        <a href="{% url 'newsline' %}">
            <button type="submit" class="finish_adding_vote_option_button">Завершить</button>
        </a>
    </div>
{% endblock %}